/**
 * @file
 * Styles for Workflow Assignment module.
 */

.workflow-info {
  margin: 1em 0;
  padding: 1em;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.workflow-info h3 {
  margin-top: 0;
  font-size: 1.2em;
  color: #333;
}

.workflow-info__content {
  margin-top: 0.5em;
}

.workflow-info__item {
  margin-bottom: 0.75em;
}

.workflow-info__item strong {
  display: inline-block;
  min-width: 150px;
  color: #555;
}

.workflow-info__list {
  margin: 0.25em 0 0 0;
  padding-left: 170px;
  list-style-type: disc;
}

.workflow-info__list li {
  margin: 0.25em 0;
}

/* Admin list enhancements */
.workflow-list-table .views-field-users,
.workflow-list-table .views-field-groups,
.workflow-list-table .views-field-resources {
  text-align: center;
}
